spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: jdbc:postgresql:///hss_dev?socketFactory=com.google.cloud.sql.postgres.SocketFactory&cloudSqlInstance=${GCP_SQL_INSTANCE_CONNECTION_NAME:hss-cloud-473511:europe-west3:hss-sql}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      connection-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          time_zone: UTC
  flyway:
    enabled: true
    out-of-order: true
  cloud:
    gcp:
      enabled: true
      sql:
        enabled: true
        database-name: hss_dev
        instance-connection-name: ${GCP_SQL_INSTANCE_CONNECTION_NAME}
      storage:
        enabled: true
      firestore:
        enabled: false
      firestore-emulator:
        enabled: false

firebase:
  enabled: true

storage:
  local:
    enabled: false
